<div class="card" mt-5 style="padding: 20px;">
  <form #registerForm="ngForm"  (ngSubmit) = "onSubmit()">
    <div class="form-group">
    <label for="name">Student Id: </label>
    <input type="text"  [(ngModel)]="student.rollnumber" name="Id" id="name" class="form-control" placeholder="Enter the Roll Number">
    </div><br>
    <div class="form-group">
    <label for="name">Student Name: </label>
      <input type="text" [(ngModel)]="student.name"  name="name" id="name" class="form-control" placeholder="Enter the student name">
    </div><br>
    <div class="form-group">
      <label for="address">Student Address: </label>
      <input type="text" [(ngModel)]="student.address" name="address" id="address" class="form-control" placeholder="Enter the student address">
    </div><br>
    <div class="form-group">
      <label for="percentage">Student percentage: </label>
      <input type="text" [(ngModel)]="student.percentage" name="percentage" id="percentage" class="form-control" placeholder="Enter the student percentage">
    </div><br>

    <div class="form-group">
      <input    type="submit" value="Submit" class="btn btn-primary">
    </div>

  </form>
</div>
