<!-- <div class="game-board">
  <div class="cross"></div>
  <div class="corner red"></div>
  <div class="corner blue"></div>
  <div class="corner green"></div>
  <div class="corner yellow"></div>
  <div class="track">
    <div class="row">
      <div class="cell red"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell blue"></div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell green"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell yellow"></div>
    </div>
  </div>
</div> -->
<body>
	<div class="outer">
		<div class="box_row">
			<div class="box" style="border:50px solid seagreen">
				<div class="circle border_seagreen"></div>
				<div class="circle border_seagreen"></div>
				<div class="circle border_seagreen"></div>
				<div class="circle border_seagreen"></div>
			</div>
			<div class="v_lad">
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell violet"></div>
					<div class="v_lad_cell violet"><span class="star">&#9733;</span></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell violet"><span class="star">&#9733;</span></div>
					<div class="v_lad_cell violet"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell violet"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell violet"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell violet"></div>
					<div class="v_lad_cell"></div>
				</div>
			</div>
			<div class="box" style="border:50px solid violet;">
				<div class="circle border_violet"></div>
				<div class="circle border_violet"></div>
				<div class="circle border_violet"></div>
				<div class="circle border_violet"></div>
			</div>
		</div>
		<div class="middle_row">
		<div class="h_lad">
			<div class="h_lad_row">
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell seagreen"><span class="star">&#9733;</span></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
			</div>
			<div class="h_lad_row">
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell seagreen"></div>
				<div class="h_lad_cell seagreen"></div>
				<div class="h_lad_cell seagreen"></div>
				<div class="h_lad_cell seagreen"></div>
				<div class="h_lad_cell seagreen"></div>
			</div>
			<div class="h_lad_row">
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell seagreen"><span class="star">&#9733;</span></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
			</div>
			</div>
			<div class="ludo_home"></div>
			<div class="h_lad">
				<div class="h_lad_row">
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell yellow"><span class="star">&#9733;</span></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
			</div>
			<div class="h_lad_row">
				<div class="h_lad_cell yellow"></div>
				<div class="h_lad_cell yellow"></div>
				<div class="h_lad_cell yellow"></div>
				<div class="h_lad_cell yellow"></div>
				<div class="h_lad_cell yellow"></div>
				<div class="h_lad_cell "></div>
			</div>
			<div class="h_lad_row">
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell"></div>
				<div class="h_lad_cell yellow"><span class="star">&#9733;</span></div>
				<div class="h_lad_cell"></div>
			</div>
			</div>

		</div>
		<div class="box_row">
			<div class="box" style="border:50px solid blue;">
				<div class="circle border_blue"></div>
				<div class="circle border_blue"></div>
				<div class="circle border_blue"></div>
				<div class="circle border_blue"></div>
			</div>
			<div class="v_lad">
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell blue"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell blue"></div>
					<div class="v_lad_cell "></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell blue"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell blue"></div>
					<div class="v_lad_cell blue"><span class="star">&#9733;</span></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell blue "><span class="star">&#9733;</span></div>
					<div class="v_lad_cell blue"></div>
					<div class="v_lad_cell"></div>
				</div>
				<div class="v_lad_row">
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell"></div>
					<div class="v_lad_cell"></div>
				</div>
			</div>
			<div class="box" style="border:50px solid yellow;">
				<div class="circle border_yellow"></div>
				<div class="circle border_yellow"></div>
				<div class="circle border_yellow"></div>
				<div class="circle border_yellow"></div>
			</div>
		</div>
	</div>
</body>



<!-- <app-dice (diceRoll)="onDiceRoll($event)"></app-dice>
    <app-token *ngFor="let token of tokens" [color]="token.color" [position]="token.position"></app-token>
    <div class="board">
      <div *ngFor="let position of positions" [ngClass]="getTileClass(position)">
        <app-token *ngFor="let token of getTokensOnTile(position)" [color]="token.color" [position]="token.position"></app-token>
      </div>
    </div> -->
